{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}
        metosin/malli {:mvn/version "0.10.1"}}
 
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {}}}}
