{:projects
 {"ProjectName" ; This is the name of the project (case-sensitive)
  {:name "ProjectName"
   :project-root "/path/to/project/root"
   :dev-in-container? true|false
   :container-project-root "/path/in/container" ; Required if dev-in-container? is true
   :cctx-dir "path/to/cctx/dir/relative/to/project-root"
   :cctxs-dir "path/to/cctxs/dir/relative/to/project-root"
   :project-has-templates true|false
   :project-templates-dir "path/to/templates/dir/relative/to/project-root"}}}