[:map-of :keyword
 [:map
  [:name string?]
  [:desc string?]
  [:spec [:map
          [:title string?]
          [:description string?]
          [:changes [:sequential
                     [:map
                      [:id keyword?]
                      [:type keyword?]
                      [:description {:optional true} string?]
                      [:path {:optional true} string?]
                      [:template {:optional true} string?]
                      [:executable {:optional true} boolean?]
                      [:transform {:optional true} any?]
                      [:validation {:optional true} any?]]]]
          [:requires {:optional true} [:sequential keyword?]]
          [:rollback {:optional true} boolean?]
          [:dry-run {:optional true} boolean?]]]]]